body{
    margin: 0px;
    font-family: "Raleway", sans-serif;
}
.navbar{
    background-color: white;
    left: 0;
    right: 0;
    height: 7rem;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    top: 0;
    transition: box-shadow 0.3s ease;
    z-index: 1000;
    will-change: box-shadow;
}

.navbar.scrolled{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo-div{
    padding-left: 20px;
    padding-top: 5px;
    float: left;
}
.logo-div:hover{
    transform: scale(1.005);
    transition: transform 0.3s ease;
}
.logo{
    height: 3.2rem;
    width: auto;
    align-self: center;
    cursor: pointer;

}

.nav-links{
    float: right;
    padding-right: 90px;
    padding-top: 15px;
    align-items: center;
    display: flex;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin-left: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}
.nav-links a:hover{
    color: var(--green);
    transition: all 0.3s ease;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    .nav-links a{
        display: none;
    }
}
