.partner-sect1-undertext{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -1rem;
}
.sect2-undertxt{
    margin-top: -3rem;
    padding-top: 0px;
}
.sect2 .large{
    padding-bottom: 0.5rem;
}